

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Fonts
# Animation
# Typography
# Header
# Content
# Footer

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: 'Lato Bold'; /* Гарнитура шрифта */
  src: url( "fonts/Lato Bold.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'Lato Regular'; /* Гарнитура шрифта */
  src: url( "fonts/Lato Regular.ttf" ); /* Путь к файлу со шрифтом */
}

@font-face {
   font-family: 'MullerExtraBold'; /* Гарнитура шрифта */
   src: url( "fonts/MullerExtraBold.otf" ); /* Путь к файлу со шрифтом */
  }

@font-face {
   font-family: 'Code Pro Bold'; /* Гарнитура шрифта */
   src: url( "fonts/Code Pro Bold.otf" ); /* Путь к файлу со шрифтом */
  }

/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/

@keyframes show-panel {
  from { left: -235px; }
  to   { left: 0; }
}

@keyframes hidden-panel {
  from { left: 0; }
  to   { left: -235px; }
}

@keyframes rotate-up {
  from { transform: rotate(0deg); }
  to   { transform: rotate(-45deg); }
}

@keyframes prerotate-up {
  from { transform: rotate(-45deg); }
  to   { transform: rotate(0deg); }
}

@keyframes rotate-bottom {
  from { transform: rotate(0deg); }
  to   { transform: rotate(45deg); }
}

@keyframes prerotate-bottom {
  from { transform: rotate(45deg); }
  to   { transform: rotate(0deg); }
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

html, body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	font-family: 'Lato Regular', sans-serif;
  font-size: 1.06em;
  color: #000000;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
	font-size: 1.2em;
  font-family: 'Lato Bold',serif;

}

h2 {
  text-align: center;
  text-transform: uppercase;
	font-size: 2em;
  font-family: 'Code Pro Bold', 'Arial', serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 333px;
  width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.color-text {
  color: #fe9900;
}

.big-title {
  text-align: center;
  text-transform: uppercase;
  font-family: 'MullerExtraBold', 'Arial', serif;
  font-size: 2em;
}

.medium-title {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Code Pro Bold', 'Arial', serif;
  font-size: 1.6em;
}

.small-title {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lato Bold', 'Arial', sans-serif;
}

@media (min-width: 768px) {
  .container {
    width: 95%;
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1170px;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
  padding-bottom: 1em;
  background: url('img/bg_coach.png') no-repeat 100% 100%;
  background-size: 45%;
}

.header p {
  margin: 0.8em 0;
}

.header__logo {
  display: table;
}

.header__logo .logo-box,
.header__logo h1 {
  display: table-cell;
  width: 35%;
  vertical-align: middle;
}

.header__adress,
.header__date,
.header__contacts {
  width: 85%;
  margin: auto;
  font-family: 'Lato Bold', 'Arial', sans-serif;
}

.header__date {
  font-size: 0.9em;
}

.header__contacts a {
  display: block;
  margin-bottom: 0.3em;
}

.header__contacts a:hover {
  color: #fe9900;
}

.main {
  padding: 1em 0;
}

.box-1 {
  background-color: #f2f2f2;
}

.box-1 p {
  width: 95%;
  margin: 0.8em auto;
  font-size: 1.5em;
  font-family: 'Lato Bold', 'Arial', serif;
}

.box-btn {
  margin: 3em 0;
}

.small-btn,
.medium-btn,
.big-btn {
  display: block;
  max-width: 330px;
  margin: auto;
  padding: 20px 30px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Lato Bold', 'Arial', serif;
  font-size: 22px;
  color: #000000;
  background-color: #fe9900;
  border-radius: 10px;
  box-shadow: 0 0 25px 12px rgba(254, 137, 0, 0.54);
}

.medium-btn {
  font-size: 24px;
}

.big-btn {
  font-size: 26px;
}

.box-2 p {
  width: 90%;
  margin-left: 10%;
}

.box-2 figure {
  width: 90%;
  margin: 1.5em auto;
}

.box-2 img {
  border: 4px solid #fe9900;
  border-radius: 50%;
  box-shadow: 0 0 12px 6px rgba(254, 137, 0, 0.54);
}

.box-2 .roads ol {
  font-family: 'Lato Bold', 'Arial', serif;
  font-size: 1.6em;
}

.box-2 .roads li {
  margin-bottom: 1.4em;
  font-size: 0.7em;
}

.box-2 .roads li .color-text {
  display: block;
  font-size: 1.2em;
}

.box-3,
.box-6 {
  margin: 0;
  color: #ffffff;
  background-color: #353535;
}

.box-3 li {
  position: relative;
  padding-left: 3em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  font-family: 'Lato Bold', 'Arial', serif;
  font-size: 0.9em;
}

.box-3 li::after {
  position: absolute;
  top: -5px;
  left: 0;
  display: block;
  width: 37px;
  height: 40px;
  background: url('img/shape1_white.png') no-repeat 0 0;
  background-size: contain;
  content: '';
}

.box-4 {
  background-color: #f8f8f8;
}

.box-4 li {
  position: relative;
  margin-bottom: 1.5em;
  padding-left: 4em;
  font-family: 'Lato Bold', 'Arial', sans-serif;
}

.box-4 li .color-text {
  display: block;
  font-size: 1.2em;
}

.box-4 li .cloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 30px;
  padding: 8px;
  padding-left: 10px;
  text-align: center;
  background: url('img/icon_cloud.png') no-repeat 0 0;
  background-size: contain;
}

.box-4 p .smile {
  position: relative;
  display: block;
  width: 90%;
  margin-left: 5%;
  padding-bottom: 1em;
  text-transform: uppercase;
  font-family: 'Lato Bold', 'Arial', sans-serif;
  font-size: 1.1em;
}

.box-4 p .smile::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30px;
  height: 30px;
  background: url('img/icon_smile.png') no-repeat 0 0;
  background-size: contain;
  content: '';
}

.box-5 figure {
  width: 50%;
  margin: 1.5em auto;
}

.box-5 img {
  border-radius: 50%;
}

.box-5 p {
  width: 90%;
  margin: auto;
  text-transform: uppercase;
  font-family: 'Lato Bold', 'Arial', sans-serif;
}

.box-7 {
  background-color: #f2f2f2;
}

.pack {
  display: block;
  vertical-align: top;
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 1.5em;
  padding: 1em 0;
  background-color: #ffffff;
  border: 1px solid #000000;
}

.pack__title {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lato Bold', 'Arial', serif;
  font-size: 2em;
}

.pack__title .color-text {
  display: block;
  font-size: 1.2em;
  line-height: 1.4em;
}

.pack__price {
  position: relative;
  margin: 5.5em 0;
  height: 24px;
  background-color: #353535;
}

.pack__price::after {
  position: absolute;
  top: -47px;
  left: 45px;
  z-index: 1;
  width: 120px;
  height: 120px;
  background-color: #fe9900;
  transform: rotate(45deg);
  content: '';
}

.pack__price p {
  position: absolute;
  top: -70px;
  left: 60px;
  z-index: 2;
  font-size: 52px;
  font-family: 'Lato Bold', 'Arial', serif;
  color: #ffffff;
}

.pack__price p span {
  position: absolute;
  font-size: 18px;
}

.pack__list li {
  position: relative;
  margin-bottom: 1.5em;
  padding-left: 3em;
  font-weight: bold;
}

.pack__list li:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 48px;
  height: 48px;
  background: url('img/shape_black.png') no-repeat 0 0;
  background-size: contain;
  content: '';
}

.box-8 .box-content {
  min-height: 150px;
  background: url('img/bg_video.jpg') no-repeat 50% 100%;
  background-size: cover;
}

.box-8 .box-content figure {
  position: relative;
  min-height: 150px;
  box-sizing: border-box;
  background-color: rgba(135, 135, 135, 0.5);
}

.box-content__form input {
  display: block;
  width: 100%;
  margin: 1.5em 0;
  padding: 20px 30px;
  box-sizing: border-box;
  font-size: 1.2em;
  font-family: 'Lato Regular', sans-serif;
  color: #000000;
  border: 1px solid #000000;
}

.box-content__form .accept {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  margin: 0;
}

.box-content__form .accept-label {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  margin-left: 1em;
}

.box-content__form .big-btn {
  min-width: 300px;
  margin: 2em auto;
  font-size: 1.2em;
  border: none;
}

/*============== for tablets 768px ===========================*/

@media screen and (min-width: 768px) {
  .header .header__logo {
    width: 55%;
  }

  .medium-title {
    margin-bottom: 1.5em;
  }

  .box-2 p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .box-2 figure,
  .box-2 article {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin: 1.5em auto;
  }

  .box-2 figure {
    margin-top: 5em;
  }

  .box-2 article {
    width: 54%;
    margin-left: 5%;
  }

  .box-3 ul {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .box-3 li {
    margin-left: 5em;
    margin-bottom: 2.5em;
  }

  .box-4 li {
    padding-left: 7em;
  }

  .box-4 li .cloud {
    top: 0;
    left: 0;
    width: 100px;
    height: 80px;
    padding: 12px;
    box-sizing: border-box;
    font-size: 30px;
  }

  .box-4 p .smile::after {
    left: 95%;
    width: 68px;
    height: 68px;
  }

  .box-5 li {
    display: table;
    margin: 2em 0;
  }

  .box-5 li figure,
  .box-5 li p {
    display: table-cell;
    width: 20%;
  }

  .box-5 li p {
    width: 60%;
    box-sizing: border-box;
    padding-left: 10%;
    vertical-align: middle;
  }

  .pack {
    display: inline-block;
    width: 40%;
    min-height: 720px;
    margin-left: 4%;
    margin-right: 4%;
  }

  .pack__list {
    padding: 0 1em;
    box-sizing: border-box;
  }

  .box-8 .box-content figure {
    min-height: 480px;
    padding: 120px;
  }

  .box-8 .box-content img {
    width: 480px;
    margin: auto;
  }

  .box-content__photo {
    float: left;
    width: 45%;
  }

  .box-content__form {
    float: right;
    width: 50%;
  }

  .box-content__form #name {
    margin-top: 0;
  }

}

/*============== for tablets 1024px ===========================*/

@media screen and (min-width: 1024px) {
  .header {
    padding-bottom: 0;
    background: none;
  }

  .header .header__logo,
  .header__adress,
  .header__date,
  .header__contacts {
    float: left;
  }

  .header .header__logo {
    width: 32%;
    margin: 1em 0;
    font-size: 0.8em;
  }

  .header .header__logo h1 {
    padding-left: 0.5em;
  }

  .header__adress {
    width: 33%;
    margin: 1.2em 0;
    margin-left: 2%;
    font-size: 0.9em;
  }

  .header__date {
    width: 10%;
    margin: 1.2em 0;
  }

  .header__contacts {
    width: 20%;
    margin: 1.8em 0;
  }

  .header__contacts {
    float: right;
    text-align: right;
  }

  .box-1 {
    background: #f2f2f2 url('img/bg_coach.png') no-repeat 100% 100%;
    background-size: 42%;
  }

  .box-1 .big-title {
    width: 55%;
    margin: 1.5em 0;
    text-align: left;
  }

  .box-1 p {
    width: 75%;
    margin: 1.5em 0;
    text-align: left;
  }

  .box-1 .medium-btn {
    margin-left: 0;
  }

  .box-8 .box-content figure {
    min-height: 600px;
    padding: 180px;
  }

  .box-8 .color-text {
    display: block;
    text-align: center;
    font-size: 1.3em;
  }
}

/*=================== for PC 1280px ===========================*/
@media screen and (min-width: 1280px) {
  .header .logo-box {
    width: 15%;
  }

  .header h1 {
    width: 70%;
  }

  .header__contacts {
    width: 15%;
    margin-bottom: 1.3em;
  }
}

/*=================== for PC 1360px ===========================*/
@media screen and (min-width: 1360px) {
  .header .header__logo {
    width: 40%;
  }

  .header .header__logo h1 {
    font-size: 1.44em;
  }

  .header__adress {
    width: 26%;
    margin-top: 1.1em;
    margin-left: 8%;
    font-size: 1em;
  }

  .header__date {
    margin: 1em 0;
    font-size: 1.1em;
  }

  .header__contacts {
    font-size: 1.1em;
  }

  .box-1 {
    padding: 1px 0 0 0;
    background-size: 50%;
  }

  .box-1 .big-title {
    margin: 2em 0;
    font-size: 44px;
  }

  .box-1 p {
    width: 55%;
    line-height: 1.7em;
  }

  .box-1 .box-btn {
    margin: 5em 0;
    font-stretch: condensed;
  }

  .box-1 .medium-btn {
    font-size: 30px;
  }

  .box-2 figure {
    margin-top: 2em;
  }
}

/*=================== for MAC 1600px ===========================*/
@media screen and (min-width: 1600px) {

}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*============== for tablets 768px ===========================*/
@media screen and (min-width: 768px) {

}

/*============== for tablets 1024px ===========================*/
@media screen and (min-width: 1024px) {

}

/*=================== for PC 1280px ===========================*/
@media screen and (min-width: 1280px) {

}

/*=================== for PC 1360px ===========================*/
@media screen and (min-width: 1360px) {

}

/*=================== for MAC 1600px ===========================*/
@media screen and (min-width: 1600px) {

}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

/*============== for tablets 768px ===========================*/
@media screen and (min-width: 768px) {

}

/*============== for tablets 1024px ===========================*/
@media screen and (min-width: 1024px) {

}

/*=================== for PC 1280px ===========================*/
@media screen and (min-width: 1280px) {

}

/*=================== for PC 1360px ===========================*/
@media screen and (min-width: 1360px) {

}

/*=================== for MAC 1600px ===========================*/
@media screen and (min-width: 1600px) {

}
